
__pycache__/genetique.cpython-39.pyc
__pycache__/glouton.cpython-39.pyc
__pycache__/glouton.cpython-39.pyc
.vscode/launch.json
__pycache__/glouton.cpython-39.pyc
__pycache__/parsing.cpython-39.pyc
output.txt
